*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.main{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(to right, purple, #2596be);
    font-family: sans-serif;
}
nav{
    width: 80%;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  10px 10px;
    margin: auto;
}
nav h1{
    color: white;
    font-size: 30px;
    position: absolute;
    left: 42%;
}
nav h1 span{
    color: #2596be;
}
nav ul{
    display:flex;

}
nav ul li{
    margin:  0 20px;
}
nav ul li a{
    color: white;
}
.information{
       width: 1000px;
       height: 1000px;
       position: absolute;
       top: 50%;
       left: -10%;
       transform: translateY(-50%);
}
#circle{
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    transform: rotate(0deg);
    transition: 1s;
}

.feature{
    position: absolute;
    display: flex;
    color: white;
    
}
.feature div{
    margin-left: 30px;
}
.feature p{
    margin-top: 8px;
}
.one{
    top: 450px;
    right: 50px;
}
.two{
    top: 150px;
    left: 350px;
    transform: rotate(-90deg);
      
}
.three{
   bottom: 450px;
   left: 50px; 
   transform: rotate(-180deg);
}
.four{
    bottom: 150px;
    right: 350px;
    transform: rotate(-270deg);
}  
.mobile{
    width: 600px;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translateY(-50%);
    z-index: 1;
}
.controls{
   position: absolute;
   right: 10%;
   top: 50%;
   transform: translateY(-50%);  
   text-align: center;  
}
.controls h3{
     margin: 15px 0;
     color: white;
 }
 .controls i{
    width: 15px;
    cursor: pointer;
    color: white;
 }
 .overlay{
    width: 0;
    height: 0;
    border-top: 500px solid white;
    border-right: 500px solid transparent;
    border-bottom: 500px solid white;
    border-left: 500px solid white;
    position: absolute;
    left: 0;
    top: 0;
 }
 .feature i{
    font-size: 100px;
 }

